<h2>Edit your Tracker: </h2>

<% if @errors %>
<p style="color:red;"><%=@errors%></p>
<%end%>

<form action="/trackers/<%=@tracker.id%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH" />

  <label for="gender">Gender: </label>
  <input type="text" name="gender" id="gender" value="<%=@tracker.gender%>" /><br><br>

  <label for="exercise_time">Daily exercise time:</label>
  <input type="text" name="exercise_time" id="exercise_time" value="<%=@tracker.exercise_time%>" /><br><br>

  <label for="intake_cal">Daily intake calories:</label>
  <input type="text" name="intake_cal" id="intake_cal" value="<%=@tracker.intake_cal%>" /><br><br>

  <label for="burned_cal">Daily burned calories:</label>
  <input type="text" name="burned_cal" id="burned_cal" value="<%=@tracker.burned_cal%>"/><br><br>

  <input type="submit" value="Edit" />

  </form>