<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/trackers.css" />
</head>

<body>

<div class="tracker">

<% if flash.has?(:message) %>
  <h2 style="color:green;"><%= flash[:message] %></h2>
<% end %>

<% if flash.has?(:warning) %>
  <h2 style="color:red;"><%= flash[:warning] %></h2>
<% end %>


<h1>Welcome <%= @current_user.username %></h1>

<h3>My Trackers </h3>
 <ul>
   <% if @trackers.size > 0 %>
    <% @trackers.each do |tracker| %>
     <% if tracker.user_id == @current_user.id %>
      <li> Tracker Create at: <a href="/trackers/<%= tracker.id %>"><%=tracker.date%></a></li>
     <%end%>
   <%end%>
  

<br><br>

  <a href="/trackers/new">Create new tracker</a>
  <%else%>
    <h3>You do not have any trackers! <a href="/trackers/new">Create new tracker</a></h3>
  <%end%>
 
</ul>
<h4></h4><a href="/signout"> signout</a></h4>

</div>
</body>
</html>