<% if flash.has?(:message) %>
  <h2 style="color:green;"><%= flash[:message] %></h2>
<% end %>

<h2>Deatials for Tracker created at: <%=@tracker.created_at%></h2>
<h3 style="color:blue;">Your Total Daily calories is: <%=total_calories%></h3>

<h4><%=show_message%></h4>

<br>

<p>Gender: <%=@tracker.gender%></p>
<p>Exercise_time: <%=@tracker.exercise_time%></p>
<p>Daily intake calories: <%=@tracker.intake_cal%></p>
<p>Daily burned calories: <%=@tracker.burned_cal%></p>

<br>


<p><a href="/trackers/<%= @tracker.id %>/edit">Edit tracker</a></p>
<p><a href="/trackers">See all Trackers</a></p>

<form action="/trackers/<%= @tracker.id %>/delete" method="POST">
<input type="hidden" id="hidden" name="_method" value="DELETE" />
<input type="submit" value="Delete Tracker" />
</form>